<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define your beans here -->
    <bean id="customerRepository" class="com.shreya.spring.repository.CustomerRepository" />

    <bean id="customerService" class="com.shreya.spring.service.CustomerService">
        <property name="customerRepository" ref="customerRepository" />
    </bean>

    <bean id="customerController" class="com.shreya.spring.controller.CustomerController">
        <property name="customerService" ref="customerService" />
    </bean>
</beans>
